* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Open Sans", sans-serif;
}
.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1920px;
}

.navBar {
  width: 100%;
  height: 80px;
  background-color: #171717;
}

.menu {
  display: flex;
  gap: 1.5rem;
}

.menu li a {
  text-decoration: none;
  color: #ededed;
  position: relative;
}
.menu li a:hover {
  transition: all 0.6s;
  color: #da0037;
}

.menu li a:after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #da0037;
  position: absolute;
  bottom: -10px;
  left: 0;
  transition: all 0.5s;
}
.menu li a:hover:after {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .Burger {
    display: none;
  }
  .Nav {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  .Nav {
    display: none;
  }
  .Burger {
    display: block;
  }
}
.phoneNav {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: #da0037;
}

.phoneNav .menu {
    flex-direction: column;
    text-align: center;
    font-size: 1.5rem;

}

.Burger:nth-child() {
    background-color: #da00;
}

.Burger .icon {
  position:relative;
  color: #EDEDED;
  cursor: pointer;
  z-index: 1;
  font-size: x-large;
}