@media only screen and (min-width: 768px) {
    .Burger {
      display: none;
    }
    .Nav {
      display: block;
    }
  }
  @media only screen and (max-width: 768px) {
    .Nav {
      display: none;
    }
    .Burger {
      display: block;
    }
    .socialMedia{
      display: none;

    }
    .home h1 {
      font-size: 45px !important;
    }
    .home h2{
      font-size: 40px !important;
    }
  }